.Main {
	padding: 90px 0 68px;
  .ads {
		display: flex;
		grid-gap: 90px;
		padding: 0 52px;
		div{
			width: 509px;
			height: 254px;
			border-radius: 38px;
		}
		.deal{
			background: url(../public/ad1.jpg) center / cover;
			position: relative;
			h1{
				font-family: 'GT Walsheim Pro';
				font-style: italic;
				font-weight: 700;
				font-size: 33px;
				line-height: 38px;
				color: #D80015;
				position: absolute;
				top: 30px;
				right: 50px;
			}
			p{
				font-family: 'GT Walsheim Pro';
				font-style: normal;
				font-weight: 700;
				font-size: 43px;
				line-height: 49px;
				color: #222222;
				position: absolute;
				right: 39px;
				top: 112px;
				margin: 0;
			}
		}
		.sale{
			background: url(../public/ad2.png) center / cover;
			padding-left: 30px;
			padding-top: 37px;
			h1{
				font-family: 'GT Walsheim Pro';
				font-style: italic;
				font-weight: 700;
				font-size: 33px;
				line-height: 38px;
				color: #FFFFFF;
				margin: 0;
				margin-bottom: 51px;
			}
			p{
				font-family: 'GT Walsheim Pro';
				font-style: normal;
				font-weight: 700;
				font-size: 30px;
				line-height: 34px;
				color: #222222;
				margin: 0;
			}
		}
		.arrival{
			background: url(../public/ad3.jpg) center / cover;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			h1{
				font-family: 'GT Walsheim Pro';
				font-style: italic;
				font-weight: 900;
				font-size: 43px;
				line-height: 49px;
				text-align: center;
				color: #FF3800;
			}
		}
  }
	.h1{
		font-family: 'GT Walsheim Pro';
		font-style: normal;
		font-weight: 500;
		font-size: 38px;
		line-height: 43px;
		color: #222222;
		margin-top: 52px;
	}
}
